@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- INÍCIO DO CONTEÚDO -->
<div class="cn-cont col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
    <!-- INÍCIO DO CONTAINER -->
    <div class="container">

        <!-- INÍCIO DOS BREADCRUMBS -->
        <!-- FIM DO BREADCRUMBS -->

        <h1 class="mb-3 text-center">Principal</h1>
        <!-- INÍCIO DA DIV - TABELA -->
        <div class="cn-div-table mb-3">
            <!-- INÍCIO DA TABELA -->
            <!-- FIM DA TABELA -->
        </div>
        <br />
        <br />
        <div class="row container">
            <div class="col-12">
                <!-- INÍCIO DA DIV - TABELA -->
                <div id="nav-menu">
                    <!-- INÍCIO DA LISTA -->
                    <ul>
                        <!-- INÍCIO DOS LINKS -->
                        <li class="cn-link">
                            <a class="d-flex flex-row" asp-area="" asp-controller="Pizza" asp-action="Index">
                                <!-- INÍCIO DA DIV - ÍCONE -->
                                <div class="cn-link-icon">
                                    <img src="~/images/geral/pizzaII.jpg" alt="pizza" width="28px" height="28px">
                                </div>
                                <!-- FIM DA DIV ÍCONE -->
                                <h6 class="d-flex flex-column container">
                                    <span>Pizza</span>
                                </h6>
                            </a>
                        </li>
                        <!-- FIM DOS LINKS -->
                    </ul>
                    <!-- FIM DA LISTA -->
                </div>
                <!-- FIM DA DIV - TABELA -->
            </div>
        </div>
        <br />
        <br />
    </div>
    <!-- FIM DO CONTAINER -->
</div>
<!-- FIM DO CONTEÚDO -->