@model matriz.Core.Application.DTOs.Pizzaria.TipoDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

 }

<!-- INÍCIO DO CONTEÚDO -->
<div class="cn-cont col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
    <!-- INÍCIO DO CONTAINER -->
    <div class="container">
        <!-- INÍCIO DOS BREADCRUMBS -->
        <div class="cn-breadcrumbs breadcrumb mb-3">
            <a asp-area="" asp-controller="Tipo" asp-action="Index" class="breadcrumb-item">Sistema: Tipo</a>
        </div>
        <!-- FIM DO BREADCRUMBS -->

        <h2 class="mb-3">Manutenção/Tipo/Consulta</h2>

        <!-- INÍCIO DA DIV - TABELA -->
        <div class="cn-div-table mb-3">
            <!-- INÍCIO DA TABELA -->
            <!-- FIM DA TABELA -->
        </div>
        <div class="row container">
            <div class="col-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TipoId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TipoId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                </dl>
                <br />
                <hr />
                <div class="row">
                    <div class="form-group col-md-6 text-lg-start text-sm-start">
                        <a asp-area="" asp-controller="Tipo" asp-action="Index"><button class="btn btn-outline-info border-secondary bi bi-pencil-square Heading">Voltar</button></a>
                    </div>
                    <div class="form-group col-md-6 text-lg-end text-sm-end">
                        <a asp-action="Alterar" asp-route-tipoId=@Model.TipoId><button class="btn btn-outline-warning border-secondary bi bi-pencil-square Heading"> Editar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DA DIV - TABELA -->
    </div>
    <!-- FIM DO CONTAINER -->
</div>
<!-- FIM DO CONTEÚDO -->